body {
    font-family: Arial;
    text-align: center;
    background-color: lightblue;
}

form {
    margin: 20px auto;
    width: 200px;
}

input {
    display: block;
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
}

button {
    padding: 8px 20px;
    background-color: blue;
    color: white;
    border: none;
}

.container {
    margin-top: 20px;
}
