.projeto-card p {
    color: #555555;
    margin-bottom: 20px;
}

/* Tecnologias utilizadas */

.tecnologias {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    margin-bottom: 20px;
}

.tecnologias span {
    background-color: #dbeafe;
    color: #1e40af;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 13px;
    font-weight: bold;
}

/* Link do projeto */

.link-projeto {
    color: #2563eb;
    text-decoration: nome;
    font-weight: bold;
}

/* CONTATO */