.projeto-card p {
    color: #555555;
    margin-bottom: 20px;
}

/* Tecnologias utilizadas */

.tecnologias {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    margin-bottom: 20px;
}

.tecnologias span {
    background-color: #dbeafe;
    color: #1e40af;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 13px;
    font-weight: bold;
}

/* Link do projeto */

.link-projeto {
    color: #2563eb;
    text-decoration: nome;
    font-weight: bold;
}

.link-projeto:hover {
    text-decoration: underline;
}

/* CONTATO */

.contato-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.contato-item {
    background-color: white;
    width: 280px;
    padding: 25px;
    text-align: center;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.10);
}

.contato-item h3 {
    color: #2563eb;
    margin-bottom: 5px;
}

/* RODAPÉ */

footer {
    background-color: #111827;
    color: #cccccc;
    text-align: center;
    padding: 30px
}